<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <h1 class="alt-text-color link-title" onclick="redirect('{{url_for("homepage")}}')">Хранилище Ramilische</h1>
</header>
<main>
<div class="left">
    <nav class="container-outline">
        {% for item in nav %}
        <button class="button-dark" onclick="redirect('{{item.url}}')" style="width: 100%;">
            {{ item.title }}
        </button>
        {% endfor %}
    </nav>
</div>
<div class="center">
{% block content %}
{% endblock%}
</div>
<div class="right">
<div class="container-outline" style="padding: 10px;">
    Выделил правый блок, но не знаю что туда разместить. Рекламу?
</div>
</div>
</main>
<footer>
</footer>
<script src="{{ url_for('static', filename='js/script.js' )}}"></script>
</body>
</html>